body {
	background-color: #238596 !important;
}

.title {
	color: #fff;
}

.accordion-button {
	background-color: #282828 !important;
	color: #fff !important;
}

.accordion-button:focus {
	border-color: aquamarine !important;
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	color: aquamarine !important;
}

.accordion-button:after {
	display: none;
}

.datepicker {
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
}
