@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-color: #238596 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.title {
	color: #fff;
}

.accordion-button {
	background-color: #282828 !important;
	color: #fff !important;
}

.accordion-button:hover {
	background-color: #919191 !important;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-button:not(.collapsed) {
	color: aquamarine !important;
}

.accordion-button:after {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.datepicker {
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
	width: 300px;
	padding: 10px;
}

.datepicker-square {
	font-size: 18px;
	cursor: pointer;
	width: 200px;
	padding: 10px;
}

.list-group-item {
	padding: 0;
}

.workout-select {
	padding: 10px;
	border-radius: 20px;
}

.add-button {
	padding: 15px;
	margin-top: 7px;
}

.add-workout-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-workout-title {
	text-align: center;
	padding-bottom: 30px;
}

.add-workout-label {
	font-size: 18px;
}

.add-workout-form {
	width: 100%;
	max-width: 700px;
	padding: 40px;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.form-control {
	background-color: #fff;
	border-radius: 0px;
}

.minutes {
	margin-top: 8px;
	margin-right: 15px;
}

.arrow-left-icon:hover {
	color: grey;
}

.alert-fail {
	padding: 10px;
	margin-bottom: -20px;
}

.alert-shown {
	opacity: 1;
	transition: all 250ms linear;
}

.alert-hidden {
	opacity: 0;
	transition: all 250ms linear;
}

.trashcan-btn {
	padding: 5 10px;
	border: 2px solid #fff;
	margin-top: 6px;
	color: grey !important;
}

.trashcan-btn:hover {
	background-color: lightgrey !important;
	color: black !important;
}

.row-list {
	background-color: #238596;
}

.list-group-item {
	border: none;
}

.wrapper-class {
	padding: 1rem;
	border: 1px solid #ccc;
}
.editor-class {
	background-color: #fff;
	padding: 1rem;
	border: 1px solid #ccc;
	height: 150px;
}
.toolbar-class {
	border: 1px solid #ccc;
}
