@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-color: #222425;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.title {
	color: #fff;
}

.card-header {
	background-color: lightgray;
}

.accordion-button {
	background-color: lightgray;
	border: none;
	padding: 0px;
	margin-left: 50px;
	margin-top: 16px;
	width: 20px;
}

.accordion-button:focus {
	box-shadow: none;
	background-color: lightgrey !important;
}

.accordion-button:not(.collapsed) {
	background-image: none !important;
	background-color: lightgrey !important;
}

.accordion-button:not(.collapsed)::after {
	background-image: none;
	background-image: var(--bs-accordion-btn-icon);
}

.accordion-button:hover {
	background-color: lightgrey !important;
}

.datepicker-rounded {
	background-color: #fff;
	border: none;
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
	width: 300px;
	padding: 10px;
}

.datepicker-square {
	font-size: 18px;
	cursor: pointer;
	width: 300px;
	padding: 10px;
}

.list-group-item {
	padding: 0;
}

.add-button {
	padding: 15px;
	margin-top: 7px;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-workout-title {
	text-align: center;
	padding-bottom: 30px;
}

.add-workout-label {
	font-size: 18px;
}

.title-list {
	color: black;
	margin-top: 8px;
}

.form {
	width: 100%;
	max-width: 700px;
	padding: 40px;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.form-control {
	background-color: #fff;
	border-radius: 0px;
}

.minutes {
	margin-top: 8px;
	margin-right: 15px;
}

.arrow-left-icon:hover {
	color: grey;
}

.alert-fail {
	padding: 10px;
	margin-bottom: -20px;
}

.alert-shown {
	opacity: 1;
	transition: all 250ms linear;
}

.alert-hidden {
	opacity: 0;
	transition: all 250ms linear;
}

.block-btn {
	padding: 5 10px;
	border: 2px solid #fff;
	margin-top: 6px;
	color: grey !important;
}

.block-btn:hover {
	background-color: lightgrey !important;
	color: black !important;
}

.block-workout-description {
	margin: 20px;
}

.row-list {
	background-color: #238596;
}

.list-group-item {
	border: none;
}

.wrapper-class {
	padding: 1rem;
	border: 1px solid #ccc;
}
.editor-class {
	background-color: #fff;
	padding: 1rem;
	border: 1px solid #ccc;
	height: 150px;
}
.toolbar-class {
	border: 1px solid #ccc;
}

.arrow-down {
	margin-top: 10px;
}

.h3-duration {
	margin-top: 10px;
}

.filter-wrapper {
	display: flex;
	justify-content: right;
	margin-bottom: 10px;
}

#filter-control {
	width: 400px;
	border-radius: 5px;
}

.register-form {
	background-color: #fff;
}
