@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html body .App {
	min-height: 100vmin;
}

body {
	font-family: 'Poppins', sans-serif;
	/* background-color: #1c1c1c; */
}

#light {
	background-color: #f4f1d6;
}

#dark {
	background-color: #1c1c1c;
}

.navbar-wrapper {
	/* background-color: #097969; */
	background-color: #000;
}

#light .navbar-wrapper {
	background-color: #fdfd96;
}

.navbar-title {
	text-decoration: none;
}

.navbar-brand {
	font-size: 40px;
	color: #eed400;
}

.switch-wrapper {
	margin-left: 260px;
	margin-top: 7px;
}

#light .navbar-brand {
	color: #000;
}

.navbar-brand:hover {
	color: #eed400;
	cursor: pointer;
}

.navbar-username {
	font-size: 20px;
	color: #eed400;
}

#light .navbar-username {
	color: #000;
}

.logout {
	background-color: transparent !important;
	margin-left: 10px;
	padding: 0;
	color: #eed400 !important;
}

#light .logout {
	background-color: transparent !important;
	color: #000 !important;
}

#light .logout:hover {
	background-color: transparent !important;
	color: #000 !important;
}

.sign-in {
	font-size: 20px;
	color: #eed400;
	text-decoration: none;
}

#light .sign-in {
	color: #000;
}

.title {
	color: #fff;
}

.workout-list-heading {
	font-size: 100px;
	font-weight: bold;
	color: #fff;
}

#light .workout-list-heading {
	color: black;
}

.accordion {
	background-color: black;
}

.card {
	border: 1px solid black;
}

.card-header {
	/* background-color: #097969; */
	/* background-color: #dfee06; */
	background-color: #eed400;
}

#light .card-header {
	background-color: #fdfd96;
}

.title-list {
	margin-top: 8px;
	color: black;
}

.accordion-button {
	background-color: #eed400;
	border: none;
	padding: 0px;
	margin-left: 50px;
	margin-top: 16px;
	width: 20px;
}

#light .accordion-button {
	background-color: #fdfd96;
}

.accordion-button:focus {
	box-shadow: none;
	background-color: #eed400 !important;
}

#light .accordion-button:focus {
	background-color: #fdfd96 !important;
}

.accordion-button:not(.collapsed) {
	background-image: none !important;
	background-color: #eed400 !important;
}

#light .accordion-button:not(.collapsed) {
	background-color: #fdfd96 !important;
}

.accordion-button:not(.collapsed)::after {
	background-image: none;
	background-image: var(--bs-accordion-btn-icon);
}

#light .accordion-button:not(.collapsed)::after {
	color: #fdfd96 !important;
}

.accordion-button:hover {
	background-color: #eed400 !important;
}

#light .accordion-button:hover {
	background-color: #fdfd96 !important;
}

.datepicker-wrapper {
	margin-top: 5px;
}

.datepicker-rounded {
	background-color: #fff;
	border: 2px solid black;
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
	width: 300px;
	padding: 10px;
	margin-top: 3px;
}

.datepicker-square {
	font-size: 18px;
	cursor: pointer;
	width: 300px;
	padding: 10px;
}

.list-group-item {
	padding: 0;
}

.add-workout-button {
	padding: 15px;
	margin-top: 7px;
	border: 1px solid black;
	background-color: black;
	color: #eed400;
}

#light .add-workout-button {
	background-color: #fdfd96;
	color: #000;
}

.add-workout-button:hover {
	border: 1px solid #eed400 !important;
	background-color: #eed400 !important;
	color: black !important;
}

#light .add-workout-button:hover {
	border: 1px solid #000 !important;
	background-color: black !important;
	color: #fdfd96 !important;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-title {
	text-align: center;
}

.form-label {
	font-size: 18px;
}

.form {
	width: 100%;
	max-width: 700px;
	padding: 30px;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.form-control {
	background-color: #fff;
	border-radius: 0px;
}

/* Remove arrows from input with type number */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.minutes {
	margin-top: 8px;
	margin-right: 15px;
}

.arrow-left-icon:hover {
	color: grey;
}

.list-alert-shown {
	opacity: 1;
	transition: all 250ms linear;
	margin-top: -20px;
}

.list-alert-hidden {
	opacity: 0;
	transition: all 250ms linear;
	margin-top: -60px;
}

.alert-shown {
	opacity: 1;
	transition: all 250ms linear;
	margin-bottom: -25px;
}

.alert-hidden {
	opacity: 0;
	transition: all 250ms linear;
	margin-bottom: -60px;
}

.btn {
	background-color: #eed400;
	color: black;
}

.btn:hover {
	background-color: #000 !important;
	color: #eed400 !important;
}

.block-btn {
	background-color: transparent !important;
	padding: 5 10px;
	border: 2px solid #fff;
	margin-top: 6px;
	color: grey !important;
}

.block-btn:hover {
	background-color: lightgrey !important;
	color: black !important;
}

.block-workout-description {
	margin: 20px;
	color: black;
}

.row-list {
	background-color: #238596;
}

.list-group-item {
	border: none;
}

.wrapper-class {
	padding: 1rem;
	border: 1px solid #ccc;
}
.editor-class {
	background-color: #fff;
	padding: 1rem;
	border: 1px solid #ccc;
	height: 150px;
}
.toolbar-class {
	border: 1px solid #ccc;
}

.arrow-down {
	margin-top: 10px;
}

.h3-duration {
	margin-top: 13px;
	font-size: 26px;
}

.filter-wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

#filter-control {
	width: 400px;
	border-radius: 5px;
}

.register-form {
	background-color: #fff;
}

.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.success-card {
	height: 500px;
}

.success-card-header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	background-color: green;
}

.success-registration-icon {
	color: #fff;
	width: 120px;
	height: 120px;
}

.validation-error {
	font-size: 13px;
	color: red;
	display: none;
}

input:invalid ~ span {
	display: block;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#light .footer {
	color: black;
	background-color: #fdfd96;
}

#dark .footer {
	color: #eed400;
	background-color: #000;
}
